.allBoots{
    display: flex;
    background-color: whitesmoke;
}
.boots__title{
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: smaller;
    font-weight: 200;
    margin-top: 20px;
    margin-left: 70px;
}
@media only screen and (max-width: 600px) {
    .allBoots{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }
  }