.leftbar{
    flex: 0.2;
    width: 100%;
    margin-left: 10px;
    margin-bottom: 30px; 
}
.leftbar__images{
    display: flex;
    flex-direction: column;
}
.leftbar__imageone{
    border-radius: 10px;
    margin: 5px 5px 5px 5px;
    height: 200px;
}
.leftbar__imagetwo{
    border-radius: 10px;
    margin: 5px 5px 5px 5px;
    height: 200px;
}
@media only screen and (max-width: 600px) {
    .leftbar__images {
      display: none;
    }
  }