.OfficialDb{
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    margin-top: 20px;
    
}
.OfficialDb__image{
    height: 180px;
    width: 180px;
    object-fit: contain;
    border-radius: 10px;
    border: 1px solid lightgray;
    margin: 30px 10px 20px 10px;
}
.OfficialDb__image:hover{
    box-shadow: 0 0 100px 15px rgba(0, 0, 0, 0.06);
    opacity: 80%;
}
.OfficialDb__info{
    object-fit: contain  ;
}
.OfficialDb__title{
    margin: 5px 5px 5px 5px;

}
.OfficialDb__price{
    display: flex;
    align-items: center;
    margin: 5px 5px 5px 5px;
    justify-content: space-between;
    font-size: large;
    font-weight: 300;
}
.OfficialDb__button{
    border-radius: 10px;
    outline-width: 0;
}
.OfficialDb__button:hover{
    background-color: orange;
    color: white;
}