.productFeatured{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 5px;
    
}
.productFeatured__image{
    height: 180px;
    width: 180px;
    object-fit: contain;
    border-radius: 10px;
    border: 1px solid lightgray;
    margin: 30px 10px 20px 10px;
}
.productFeatured__image:hover{
    box-shadow: 0 0 100px 15px rgba(0, 0, 0, 0.06);
    opacity: 80%;
}
.productFeatured__info{
    object-fit: contain  ;
}
.productFeatured__title{
    margin: 5px 5px 5px 5px;

}
.productFeatured__price{
    display: flex;
    align-items: center;
    margin: 5px 5px 10px 5px;
    justify-content: space-between;
    font-size: large;
    font-weight: 300;
}
.productFeatured__button{
    border-radius: 10px;
    margin-bottom: 10px;
    outline-width: 0;
}
.productFeatured__button:hover{
    background-color: orange;
    color: white;
}