.women{
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
}
.women__title{
    letter-spacing: 5px;
    text-transform: uppercase;
    font-size: medium;
    margin-top: 20px;
    font-weight: 600;
    float: left;
}
hr{
    width: 900px;
    margin-left: 100px;
}
@media only screen and (max-width: 600px) {
    hr {
      display: none;
    }
  }